@import url("https://fonts.googleapis.comcss2?family-Inter:wght@300;400;500;600;700;800;900@sdisplay=swap")
.list{
    width: auto;
    
}
.portal{
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to right,green,yellow,red); */
    background-image: ;
}
.portal{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.portal form{
    background: white;
    box-shadow: rgba(149,157,165,0.2)0px 8px 24px;
    width: min(100%,470px);
    padding: 70px;
    display: grid;
    gap: 1rem;
}
.title h1{
    font-size: 2rem;
    position: relative;
    text-align: center;
}
.title h1::before .title h1::after{
    content: ;
    position: absolute;
    width: 16px;
    height: 16px;
    background:var(--primary);
    left: 0;
    top: 12px;
    border-radius: 50px;
}
.title h1::after{
    animation: pulse 1.3s infinite;
}
@keyframes pulse{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(1.7);
    }
}
.title p{
    color: var(--secondary);
    font-size: .9rem;
}

/* input,button{
    font: inherit;
    border: 2px solid transparent;
    outline: 2px solid transparent;
} */
#google-signin{
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: .5rem;
    background: #ffffff;
    box-shadow: rgba(0,0,0,0.02) 0px 1px 3px 0px,
                 rgba(27,31,35,0.15) 0px 0px 0px 1px;
    border-radius: 15px;
}
span{
    color: black;
    display: flex;
}
span::before, span::after{
    content:'' ;
    width: 100%;
    height: 1px;
    background: black;
    margin: auto;

}
span::before{
    margin-right: 1rem;

}
span::after{
    margin-left: 1rem;
}
.input-field{
    position: relative;
    justify-content: center;
}
.input-field input{
    background: #eeeeee;
    padding: 23px 15px 7px;
    width: 100%;
    border-radius: 10px;
}
.input-field label{
    position: absolute;
   
    left: 15px;
    top: 16px;
}
.input-field input:focus ~ label,.input-field input:not(:placeholder-shown)~label{
    font-size: .85rem;
    top: 5px;
}
.input-field input:focus {
    border: 2px solid rgb(71, 59, 235);
}
.input-field input:focus ~ label{
    color: rgb(74, 82, 220);
}
#show-hide-pass{
    width: 1.5rem;
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
}
#forgot-pass{
    text-decoration: none;
    color: #1A73e8;
    font-size: .9rem;
    text-align: end;
}
#signin{
    background:#1A73e8;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}
#signup{
    text-align: center;
   
}
#signup a{
    text-align: center;
    color: #1A73e8;
}
table{
    background: white;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #131212;
  }
  .navbar h1{
    color: #f1356d;
  }
  .navbar .link{
    margin-left: auto;
  }
  .navbar a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover{
    color: #F1356d;
  }
  .portal{
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to right,green,yellow,red); */
}
.portal{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.portal form{
    background: white;
    box-shadow: rgba(149,157,165,0.2)0px 8px 24px;
    width: min(100%,470px);
    padding: 70px;
    display: grid;
    gap: 1rem;
}
.title h1{
    font-size: 2rem;
    position: relative;
    text-align: center;
}
.title h1::before .title h1::after{
    content: ;
    position: absolute;
    width: 16px;
    height: 16px;
    background:var(--primary);
    left: 0;
    top: 12px;
    border-radius: 50px;
}
.title h1::after{
    animation: pulse 1.3s infinite;
}
@keyframes pulse{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(1.7);
    }
}
.title p{
    color: var(--secondary);
    font-size: .9rem;
}

input,button{
    font: inherit;
    border: 2px solid transparent;
    outline: 2px solid transparent;
}
#google-signin{
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: .5rem;
    background: #ffffff;
    box-shadow: rgba(0,0,0,0.02) 0px 1px 3px 0px,
                 rgba(27,31,35,0.15) 0px 0px 0px 1px;
    border-radius: 15px;
}
span{
    color: black;
    display: flex;
}
span::before, span::after{
    content:'' ;
    width: 100%;
    height: 1px;
    background: black;
    margin: auto;

}
span::before{
    margin-right: 1rem;

}
span::after{
    margin-left: 1rem;
}
.input-field{
    position: relative;
    justify-content: center;
}
.input-field input{
    background: #eeeeee;
    padding: 23px 15px 7px;
    width: 100%;
    border-radius: 10px;
}


.input-field input:focus {
    border: 2px solid rgb(71, 59, 235);
}
.input-field input:focus ~ label{
    color: rgb(74, 82, 220);
}
#show-hide-pass{
    width: 1.5rem;
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
}
#forgot-pass{
    text-decoration: none;
    color: #1A73e8;
    font-size: .9rem;
    text-align: end;
}
#signin{
    background:#1A73e8;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}
#signup{
    text-align: center;
   
}
#signup a{
    text-align: center;
    color: #1A73e8;
}


.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  .bottomright a{
    font-size: 11px;
  }
  .LayerSwitch img{
    width: 50px;
    position: absolute;
    bottom: 28px;
    right: 16px;
  
  }
  #totalRows{
     width: 0;
    position: fixed;
    top: 330px;
    background-color: white;
    overflow-y: hidden;

    /* transition: 10.5s; */
    border-radius: 5px;

    
    color:black;
    border: 0px solid;
    margin-left: 150px;
   
  }
  .social_media_link{
   position: fixed;
   align-items: center;
   align-items: center;
   cursor: pointer;
  }
