.map {
  position: fixed;
  width: 100%;
  height: calc(100vh);
}

.ol-control {
  position: absolute;
  background-color: var(--ol-subtle-background-color);
  border-radius: 4px;
}

.ol-full-screen {
  position: fixed;
  right: 0.5em;
  bottom: 11em;
  color: red;
}

.ol-zoom {
  bottom: 2.5em;
  right: 0.5em;
}

.ol-rotate {
  display: none;
}

.ol-rotate.ol-hidden {
  visibility: hidden;
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: var(--ol-subtle-foreground-color);
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 1.375em;
  width: 35px;
  line-height: 0.4em;
  background-color: var(--ol-background-color);
  border: none;
  border-radius: 2px;
}



:root,
:host {
  --ol-background-color: #8497d5;
  --ol-accent-background-color: #f5f5f5;
  --ol-subtle-background-color: rgba(128, 128, 128, 0.25);
  --ol-partial-background-color: rgb(114, 160, 235);
  --ol-foreground-color: #333333;
  --ol-subtle-foreground-color: #f5f5f5;
  --ol-brand-color: #00aaff;
}

.ol-scale-bar {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.ol-scale-bar-inner {
  display: flex;
}

.ol-scale-step-marker {
  width: 1px;
  height: 15px;
  background-color: var(--ol-foreground-color);
  float: right;
  z-index: 10;
}

.ol-scale-step-text {
  position: absolute;
  bottom: -5px;
  font-size: 10px;
  z-index: 11;
  color: var(--ol-foreground-color);
  text-shadow: -1.5px 0 var(--ol-partial-background-color),
    0 1.5px var(--ol-partial-background-color),
    1.5px 0 var(--ol-partial-background-color),
    0 -1.5px var(--ol-partial-background-color);
}

.ol-scale-text {
  position: absolute;
  font-size: 12px;
  text-align: center;
  bottom: 25px;
  color: var(--ol-foreground-color);
  text-shadow: -1.5px 0 var(--ol-partial-background-color),
    0 1.5px var(--ol-partial-background-color),
    1.5px 0 var(--ol-partial-background-color),
    0 -1.5px var(--ol-partial-background-color);
}

.ol-scale-singlebar {
  position: relative;
  height: 10px;
  z-index: 9;
  box-sizing: border-box;
  border: 1px solid var(--ol-foreground-color);
}

.ol-scale-singlebar-even {
  background-color: var(--ol-subtle-foreground-color);
}

.ol-scale-singlebar-odd {
  background-color: var(--ol-background-color);
}

.input-box-container input {
  top: 5px;
  left: 70px;
  padding: 7px;
  position: absolute;
  border-radius: 5px;
  background-color: white;
}

.sidebar-FaBars-icon {
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(128, 122, 122);
  size: 10px;
}

.vl {
  border-left: 1px solid rgb(128, 122, 122);
  height: 40px;
  position: absolute;
  margin-left: 50px;
  margin-top: -10px;
}

.main_page_top_Search_Box {
  display: flex;
  background-color: white;
  top: 11px;
  left: 7px;
  width: 320px;
  height: 50px;
  padding: 7px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
}

.main_page_top_icon {
  margin-left: 285px;
  display: flex;
}

.main_page_top_icon img {
  margin-left: 5px;
  display: flex;
  margin-top: -5px;
  border-radius: 5px;
}

#coordinates {
  text-align: center;
  width: 350px;
  margin-left: 150px;
  margin-right: 250px;
  background-color: transparent;
  color: rgb(15, 13, 13);
  font-size: 12px;

  bottom: 10px;
}

.button-share {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 0;
}

.location_share {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
  background-color: transparent;
  padding: 0 5rem;

  /* position: relative; */

  display: flex;
  justify-content: center;
}

.icon-route-option {
  margin-left: 150px;
}

.btn-Route {
  background-color: white;
  margin-left: 40px;

  margin-right: 10px;
  width: 90%;
}

.btn-Search_Near_By {
  background-color: white;
  margin-left: 40px;

  margin-right: 10px;
  width: 90%;
}

.Direction_box button {
  background-color: white;
  border: 1px solid rgb(17, 178, 181);
  color: rgb(17, 178, 181);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Search_Near_By_button button {
  background-color: white;
  border: 1px solid rgb(17, 178, 181);
  color: rgb(17, 178, 181);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#Search_Near_By {
  top: 200px;
}

#Search_Near_By_input {
  width: 0;

  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: absolute;
  overflow-x: hidden;
}

#Search_By_Service_Area_input {
  width: 0;

  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: absolute;
  overflow-x: hidden;
}

.Search_By_Service_Area button {
  background-color: white;
  border: 1px solid rgb(17, 178, 181);
  color: rgb(17, 178, 181);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#Search_By_Service_Area {
  margin-top: 165px;
  width: 0;
  overflow-x: hidden;
}

#range {
  align-items: center;
  text-align: center;
}

.popup-container {
  overflow-x: hidden;
  width: 0;
}

.ol-popup1 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 45px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 200px;
  height: auto;
  /* min-width: 280px; */
  overflow-x: hidden;
}

#popup1-content {
  color: #657de7;
  margin-top: -40px;
  margin-left: -25px;
}

.popup1-close {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  color: rgb(129, 126, 126);
}

.popup1-close:after {
  content: "✖";
}

/* Modal Content */
.modal,
.modal-content {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  position: absolute;
  top: -5px;
  right: 10px;
  cursor: pointer;
  color: rgb(129, 126, 126);
}

.close:after {
  content: "✖";
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.fa {
  display: flex;
  float: left;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-telegram {
  width: 10%;
}

#info {
  position: absolute;
}

.search-results-container {
  position: absolute;
  height: auto;
  /* Set the desired height */
  overflow: auto;
  width: 260px;
  background-color: white;
  margin-top: 80px;
  margin-left: 80px;
  color: "white";
  border: 0px solid;

  box-shadow: 1px 1px 5px #575555;
  border-radius: 5px;
}

.search-results-container a {
  text-decoration: none;
  color: #818181;
  font-size: 13px;
  padding-left: 10px;
  align-items: center;
  justify-items: center;
}

.search-results-container a:hover {
  color: #c4c1c1;
}

.Result-No-found {
  position: relative;
  color: rgb(125, 9, 9);
  background-color: white;
  border: 0px solid;
  width: auto;
  box-shadow: 1px 1px 5px #575555;
  border-radius: 5px;
  margin-left: 80px;
  margin-top: 80px;
  align-items: center;
  justify-items: center;
}

#scaleline_1 {
  position: absolute;
  bottom: 0px;
  left: 10px;
  background-color: rgb(95, 145, 203);
  border: 1px solid #eee;
  color: #eee;
  font-size: 10px;
  text-align: center;
}

.Search_By {
  width: 0;
  position: fixed;
  top: 75px;
  left: 10px;
  height: 250px;
  background-color: white;

  /* transition: 10.5s; */
  border-radius: 5px;
  overflow-y: hidden;

  color: "white";
  border: 0px solid;

  box-shadow: 1px 1px 5px #575555;
  border-radius: 5px;
}

.search-results-container-Searchby {
  position: fixed;
  z-index: auto;
  margin-top: 360px;
  left: 10px;
  height: 380px;
  background-color: rgb(224, 219, 219);

  /* transition: 10.5s; */
  border-radius: 5px;
  overflow-x: hidden;

  color: "white";
  border: 0px solid;

  box-shadow: 1px 1px 5px #575555;
  border-radius: 5px;
}

.Searchby_body {
  margin-top: 5px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.search-results-container-Searchby a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
  color: #070606;
}

.search-results-container-Searchby p {
  text-decoration: none;
  color: #818181;
  margin-left: 10px;
  font-size: 16px;
}

.direction {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  height: 300px;
  background-color: white;
  overflow-x: hidden;
  border: 0px solid rgb(222, 222, 228);
  border-radius: 5px;
  color: "white";
  border: 0px solid;

  box-shadow: 1px 1px 5px #575555;
  border-radius: 5px;
}

.direction_title {
  margin-left: 25px;
  margin-top: 10px;
}

.Direction_box {
  margin-left: 100px;
  margin-right: 50px;
}

.start_location {
  display: flex;
}

.btn_findRoute {
  align-items: center;
  align-items: center;
  margin-left: 100px;
}

.Direction_box p {
  color: #2a3fd8;
  margin-top: 20px;
}

.Direction_box button {
  background-color: #2a3fd8;
  color: white;
  border-radius: 5px;
}

.search_by_Area {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  height: 180px;
  background-color: white;
  overflow-x: hidden;
  border: 0px solid rgb(222, 222, 228);
  border-radius: 5px;
  color: "white";
  border: 0px solid;

  box-shadow: 1px 1px 5px #575555;
  border-radius: 5px;
}

.search_by_Area_title {
  margin-left: 25px;
  margin-top: 10px;
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(227, 227, 227);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #2a3fd8;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.col,
.icon_search {
  cursor: pointer;
}

.icon_search:hover {
  opacity: 0.2;
}

.closebtntab {
  position: absolute;
  top: 0;
  right: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  margin-left: 50px;
  color: rgb(74, 65, 65);
  text-decoration: none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0px 15px;
  border: none;
  top: 0px;
}

.openbtn:hover {
  background-color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
.mousePosition {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 18px;
  color: rgb(126, 128, 128);
}

.ol-popup-closer:after {
  content: "X";
}

#popup-content {
  font-size: 13px;
}