html, body, #root {
  height: 100%;
  /* Other styles */
}
#map-container {
  position: fixed;
  width: 100%;
  height: calc(100vh);
}
.bus{
  margin-left: 100px;
}
.location_share{
  

  width: 100%;
  text-align: center;
  bottom: 10px;
 position: absolute;
background-color: transparent;
  padding: 0 5rem ;

  /* position: relative; */

  display: flex;
  justify-content: center;
}
.icon{
cursor: pointer;
opacity: 1;


transition: .5s ease;
backface-visibility: hidden;

}
.container-input .icon1:hover   {
  opacity: 0.3;
  
}
.container-input .icon2:hover {
  opacity: 0.3;
}
.icon{
  border-radius: 15px;
}
.container-input .icon3:hover {
  opacity: 0.3;
}
.container-input .icon4:hover {
  opacity: 0.3;
}

#map-container{
  
    width: 100%;
    height: 10hv;
}
::placeholder {
  opacity: 1;
  font-size: 14px;
}
#zoom-out{
  
    position: absolute;
    bottom: 30px;
   
    right: 10px;
    background-color: rgb(95, 145, 203);
}

#zoom-in{

    position: absolute;
    padding-left: 10px;
    bottom: 60px;
    right: 10px;
    background-color: rgb(95, 145, 203);
}
.GetAPP a{
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.GetAPP{
  position: absolute;
  top: 8px;
  right: 100px;
  background-color:"white";
  border: 0px solid;
 padding: 7px;
  box-shadow: 1px 1px 5px #070606;
  border-radius: 5px;

  }

.GetAPP a:hover{

  color: rgb(32, 13, 145);
}
  button{
    background-color: transparent;
   
  }
  
  .login{
      position: absolute;
    top: 8px;
    right: 20px;
    padding: 7px;
    background-color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #0a0909;
    border-radius: 5px;
   
  
   
  }
  .login a{
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
  .login a:hover{
  
    color: rgb(32, 13, 145);
  }
  .container-input {
    position:absolute ;
    top: 10px;
    left: 0px;
   display: flex;
    font-size: 18px;
  
  }
 
  .container-input input{
    margin-top: 0px;
   height: 45px;
    background-color: white;
   top: 0px;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 5px;
   
    
  }

  .formSearch {
    width: 250px;
    top: 0px;
    padding: 10px 0px 10px 40px;
    border-radius: 5px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    background-color: white;
    outline: none;
    opacity: 0.8;
  }
  #closeNav1{
    margin-left: 5px;
  }

  .container-input img{
    width: 50px;
    margin-left: 10px;
  }
  .container-input svg {
 
    position: relative;
    margin-top: 0px;
    margin-left: -30px;
   
  
    
  }
  
  .input:focus {
    opacity: 1;
    
   
  }
  .search_by_near{
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    height: 180px;
    background-color: white;
    overflow-x: hidden;
    border: 0px solid rgb(222, 222, 228);
    border-radius: 5px;
    color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;


  }
  .Find_place_box{
    margin-left: 100px;
    margin-right: 50px;
  }
  .search_by_near button{
    background-color: #2a3fd8;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
  }
  .search_by_Area button{
    background-color: #2a3fd8;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
  }
  .Find_place_box_title{
    
    margin-left: 25px;
    margin-top: 10px;
  }
  .Search_Click {
    
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 20px;
    height: 300px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    border: 0px solid rgb(222, 222, 228);
    border-radius: 5px;
   
  }
  .Search_Click a{
    text-decoration: none;
  }
  .Search_By{
     
    width: 0;
    position: fixed;
    top: 75px;
    left: 10px;
    height: 250px;
    background-color: white;

    /* transition: 10.5s; */
    border-radius: 5px;
    overflow-y: hidden;
    
    color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;


  }
  .search-results-container-Searchby{
    position: fixed;
    z-index: auto;
    margin-top: 360px;
    left: 10px;
    height: 380px;
    background-color: rgb(224, 219, 219);

    /* transition: 10.5s; */
    border-radius: 5px;
    overflow-x: hidden;
    
    color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;
  }
  .Searchby_body{
    margin-top: 5px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .search-results-container-Searchby a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    color: #070606;
    
      }
  .search-results-container-Searchby p{
        text-decoration: none;
        color: #818181;
        margin-left: 10px;
        font-size: 16px;
        
          }
.icon_location{
  margin-left: 100px;
  display: flex;
  align-items: flex-end;
}
.icon_location1{
  margin-right: 15px;
  border-radius: 10px;
}
.icon_location2{
  margin-right: 15px;
  border-radius: 10px;

}
.icon_location3{
  margin-right: 15px;
  border-radius: 10px;

}
  .Search_By_Area1{
     
    width: 0;
    position: fixed;
    z-index: auto;
    top: 75px;
    left: 10px;
    height: 300px;
    background-color: white;

    /* transition: 10.5s; */
    border-radius: 5px;
    overflow-x: hidden;
    
    color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;


  }
  .close-icon {
    font-size: 30px; /* adjust as needed */
    line-height: 1;
    cursor: pointer;
    color: rgb(130, 126, 126);
  }
  
  .Search_by_title{
    margin-left: 25px;
    margin-top: 10px;
  }
 
  .direction{
    
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    height: 300px;
    background-color: white;
    overflow-x: hidden;
    border: 0px solid rgb(222, 222, 228);
    border-radius: 5px;
    color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;
   
  }
  .direction_title{
    margin-left: 25px;
    margin-top: 10px;
  }
  .Direction_box{
    margin-left: 100px;
    margin-right: 50px;
  }
  .start_location{
   
    display: flex;
  }
  .btn_findRoute{
    align-items: center;
    align-items: center;
    margin-left: 100px;

  }
  .Direction_box p{
    color: #2a3fd8;
    margin-top: 20px;
  }
  .Direction_box button{
    background-color: #2a3fd8;
    color: white;
    border-radius: 5px;
  }
  .search_by_Area{
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    height: 180px;
    background-color: white;
    overflow-x: hidden;
    border: 0px solid rgb(222, 222, 228);
    border-radius: 5px;
    color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;
   
  }
  .search_by_Area_title{
    margin-left: 25px;
    margin-top: 10px;
  }
  .Result-No-found{
    color: red;
    background-color: white;
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 10px;
    align-items: center;
    justify-items: center;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(227, 227, 227);
    overflow-x: hidden;
    transition: 0.5s;
   
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #2a3fd8;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
.col,.icon_search {
  cursor: pointer;
}
.icon_search:hover {
opacity: 0.2;
} 
.closebtntab {
    position: absolute;
    top: 0;
    right: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-left: 50px;
    color: rgb(74, 65, 65);
    text-decoration: none
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0px 15px;
    border: none;
    top: 0px;
  }
  
  .openbtn:hover {
    background-color: white;
  }
  

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .openNav1{
    display: none;
  }
  #test{
   background-color: #444;
   align-items: center;
   justify-content: center;
  }
  #search{
    width: 300px;
    background-color: white;
  }
  #scaleline-metric {
    position: absolute;
    bottom: 0px;
    left: 10px;
    background-color: rgb(95, 145, 203);
    border: 1px solid #eee;
    color: #eee;
    font-size: 10px;
    text-align: center;
  
  
  }
  .ol-popup {
    position: absolute;
    background-color: rgb(6, 6, 6);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }

  .custom-mouse-position {     

  left: 0px;
  text-align: center;
  font-size: 13px;
  color: rgb(62, 51, 217);
  bottom: 20px;
 position: absolute;
  
  justify-content: center;
    
  }
  .search-results-container{
    height: auto; /* Set the desired height */
    overflow: auto;
    width: 250px;
    background-color: white;
    margin-top: 10px;
    margin-left: -30px;
    color:"white";
    border: 0px solid;
   
    box-shadow: 1px 1px 5px #575555;
    border-radius: 5px;
  }
 
  .search-results-container a{
text-decoration: none;
color: #818181;
font-size: 13px;
padding-left: 10px;
align-items: center;
justify-items:center;

  }
 
  .search-results-container a:hover{
    color:  #c4c1c1;;
  }
  #SearchLocation{

    top:450px;
    height: auto;
    width: 350px;
   
  }
  #SearchLocation a{

   color: black;
   text-decoration: none;
   
  }
  #SearchLocation a:hover{

    color: rgb(57, 97, 239);
    text-decoration: underline;
    
   }

  #search input::placeholder{
    color: rgb(98, 94, 94);
    font-size: 11px;

  }
 
  #coordinates{
    text-align: center;
     width: 350px;
     margin-left: 150px;
     margin-right: 250px;
     background-color:transparent;
     color: rgb(15, 13, 13);
     font-size: 12px;
   
     bottom: 10px;
     
 
 }
 .share{
     background-color:  rgb(15, 95, 255);
     width: auto;
     color: white;
     border-radius: 5px;
 }
 
 .Search_button{
position:absolute;
left: 190px;
 }
 .location_share
 {
  right: 0;
 }
 .input-box-container {
}

.search-box {
  position: relative;
  display: flex;
  
  
}
.search-box input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px;
  outline: none;
  
}

.sidebar-icon {
  top: 50px;
  font-size: 20px;
  margin-left: 20px;
}
/* Mobile styles */
@media (max-width: 700px) {
  .login {
    display: none;
  }
 
  .GetAPP{
   display:none;


  }
 .container-input .icon1, .icon2, .icon3{
   bottom: 10px;
  }
  .container-input input {
    display: none;
  }
  .container-input {
    position:fixed ;
    top: 550px;
    left: 0px;
   display: flex;
    font-size: 18px;
    bottom: 10px;
  
  }
  .Location_click{
    display: none;
  }

  /* .container-input input{
    top: 0px;
   height: 45px;
    background-color: white;
   top: 0px;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 5px;
   
    
  } */
}
.map {
  width: 100%;
  height: 400px;
}
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.popup-close-btn{
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
#marker{
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0ff;
  opacity: 0.5;
}
#Bishotu{
  text-decoration: none;
  color: white;
  font-size: 11pt;
  font-weight: bold;

}
.popover-body{
  min-width: 276px;
}
.popup-overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popup-close:hover {
  color: red;
}

