/* 
*,*:after,*:befor
{
    margin: 0;
 
}
body{
    font-family: "Inter",sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    
    
  

} */
.menu{
   
    
    width: 100%;
    text-align: center;
 
   position: absolute;
  
    padding: 0 5rem ;

    /* position: relative; */
  
    display: flex;
    justify-content: center;
  

}
.link{
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
   margin-top: 10px;
   margin-left: 5px;
     border-radius: 99em;
     position: relative;
     z-index: 1;
     overflow: hidden;
     transform-origin: center left;
     transition:width 0.2s ease-in  ;
     text-decoration: none;
     color: inherit;
}
.link::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: tranform 0.2s ease-in;
    transform-origin: center right;
    background-color: #eee;

}
.link:hover,.link:focus{
    outline: 0;
   
}
.link:hover::before{
    background-color: #eee;
    border-radius: 10px;
}
.link-title:hover{
  color: red;
    
}
.link-title:active{
  color: white;
    
}
.link-title{
    background-color: #eee;
    border-radius: 10px;
   

}
/* .link-icon{
    color: var(--color);
    font-size: 27px !important;
    display: block;
    flex-shrink: 0;
    left: 10px;
    position: absolute;

} */
/* .link-title{
    color: var(--color);
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    display: block;
    text-align: center;
    text-indent: 20px;
    width: 100%;
} */


nav{
    display: flex;
}

  
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 50px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  