.mySidebar{
  background-color: white;
}
.logo_side{
  display: block;
  width: 60%; /* Or 600px instead of percentager value */
  margin-left: auto;
  margin-right: auto;
}
.logo_side img{
  width: 200px;
  margin-left: 15px;
  
}
  .sidebar {
    position: fixed;
    margin-top: 0px;
    width: 60px;
   
    transition: width 0.3s ease;
    border-right: 1px #eee solid;
    padding-top: 15px;
  }
  
  .sidebar .sidebar-position {
    /* height: 50px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px;
    text-align: left;
    margin-top: 10px;
  }
  


  h4{
   
    padding: 0 15px;
    transition: width 10.3s ease;
   margin-left: 15px;
    display: block;
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 

  .sidebar--open {
    width: 250px;
    transition: width 0.3s ease;
  }
  
  .sidebar--open .sidebar-position span {
    display: block;
    width: 100%;
    height: auto;
  }
  
 
